﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section info_user {active}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thông tin cá nhân</h1>
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thay đổi thông tin</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Nhập tên đăng nhập" disabled value="@ViewBag.dataUser.Username">
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Nhập mật khẩu" disabled value="@ViewBag.dataUser.Password">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Nhập Email" value="@ViewBag.dataUser.Email" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
