﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Avenger Hotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Dream Hotel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar(){
            window.scrollTo(0,1);
        }
    </script>
    
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/css/sweetalert2.min.css" />

    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
</head>
<body>
    <div class="header">
        <div class="agile-top-header">
            <div class="banner-agile-top">
                <div class="number">
                    <h3><i class="fa fa-phone" aria-hidden="true"></i> +083 4601321</h3>
                </div>
                <div class="top-icons">
                    <ul>
                        @if (Session["CustomerID"] != null)
                        {
                            <li><a href="@Url.Action("Index", "Home", new { area = "Customer" })">@ViewBag.dataUser.CustomerName</a></li>
                            <li><a href="@Url.Action("Logout", "Account")">Đăng xuất</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
                            <li><a href="@Url.Action("Register", "Account")">Đăng ký</a></li>
                        }
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="logo">
                <h1><a href="@Url.Action("Index", "Home")">AVENGER<span>Hotel</span></a></h1>
            </div>
            <div class="top-left">
                <div class="top-nav">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <nav class="linkEffects linkHoverEffect_2">
                                <ul>
                                    <li><a href="@Url.Action("Index", "Home")" data-link-alt="Home" class="active"><span>Home</span></a></li>
                                    <li><a href="#about" data-link-alt="about" class="scroll"><span>About</span></a></li>
                                    <li><a href="#services" data-link-alt="services" class="scroll"><span>Services</span></a></li>
                                    <li><a href="#gallery" data-link-alt="gallery" class="scroll"><span>Gallery</span></a></li>
                                    <li><a href="#testimonials" data-link-alt="testimonials" class="scroll"><span>Testimonials</span></a></li>
                                    <li><a href="#contact" data-link-alt="Contact Us" class="scroll"><span>Contact Us</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </nav>
                    <div class="search">
                        <form action="#" method="post">
                            <input type="search" placeholder="Tìm kiếm..." name="Search" required="">
                            <input type="submit" value="">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    @RenderBody()
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                manualControls: '#slider3-pager',
            });
        });
    </script>
    <div class="contact" id="contact">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15676.272766922944!2d106.71046387803757!3d10.806089254092457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a16940b30b%3A0x1b25a34b7a3ab959!2zUGjGsOG7nW5nIDI1LCBCw6xuaCBUaOG6oW5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1558019076856!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="container">
                <div class="agileinfo_map_color">
                    <div class="agileinfo_map_color_grid">
                        <div class="col-md-6 contact-up">
                            <div class="agileinfo_map_color_grid_left">
                                <h4>Địa chỉ của chúng tôi</h4>
                                <p>876 CMT8 <span>Tp.HCM</span></p>
                                <p>+08346034231321</p>
                                <p>+083423423401321</p>
                            </div>
                        </div>
                        <div class="col-md-6 contact-up1">
                            <div class="agileinfo_map_color_grid_left">
                                <h4>Mail của chúng tôi</h4>
                                <p><a href=""> kimthi113114@gmail.com</a></p>
                                <h4>Liên hệ khác</h4>
                                <ul class="map-top-icon">
                                    <li><a href="https://www.facebook.com/profile.php?id=100028837680003"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-w3">
        <p>&copy; 2019 Avenger Hotel. All rights reserved | Design by <a href="https://www.facebook.com/kim.thi.716"></a></p>
    </div>
    <script src="~/Content/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <script src="~/Content/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                lazyLoad: true,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: true,
            });
        });
    </script>
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css" />
    <script src="~/Content/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker();
        });
    </script>
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <script src="~/Content/js/sweetalert2.min.js"></script>
    <script src="~/Content/js/function.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
