﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng ký</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/Account/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/css/main.css">
    <link rel="stylesheet" href="~/Content/css/sweetalert2.min.css" />
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form action="#" class="login100-form validate-form flex-sb flex-w" onsubmit="return false;" method="post">
                    <span class="login100-form-title p-b-32">
                        Đăng ký
                    </span>
                    <span class="txt1 p-b-11">
                        Tên đăng nhập
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Vui lòng nhập tên đăng nhập">
                        <input class="input100" type="text" name="username" id="username"maxlength="25">
                        <span class="focus-input100"></span>
                    </div>
                    <span class="txt1 p-b-11">
                        Mật khẩu
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Vui lòng nhập mật khẩu">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input class="input100" type="password" name="password" id="password"maxlength="25">
                        <span class="focus-input100"></span>
                    </div>
                    <span class="txt1 p-b-11">
                        Nhập lại mật khẩu
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Vui lòng nhập lại mật khẩu"maxlength="25">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input class="input100" type="password" name="re_password" id="re_password"maxlength="25">
                        <span class="focus-input100"></span>
                    </div>
                    <span class="txt1 p-b-11">
                        Nhập Email
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Vui lòng nhập Email">
                        <input class="input100" type="text" name="email" id="email"maxlength="25">
                        <span class="focus-input100"></span>
                    </div>
                    <span class="txt1 p-b-11">
                        Địa chỉ
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Vui lòng nhập địa chỉ">
                        <input class="input100" type="text" name="address" id="address"maxlength="25">
                        <span class="focus-input100"></span>
                    </div>
                    <span class="txt1 p-b-11">
                        Số điện thoại
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Vui lòng nhập số điện thoại">
                        <input class="input100" type="number" name="cellphone" id="cellphone" >
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Đăng ký
                        </button>

                        <a href='@Url.Action("Login", "Account", new { area = "" })' class="login100-form-btn f-right">
                            Đăng nhập
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    <script src="~/Content/Account/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Account/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/Account/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Account/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Account/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Account/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Account/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/Account/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Content/Account/js/main.js"></script>
    <script src="~/Content/js/sweetalert2.min.js"></script>
    <script src="~/Content/js/function.js"></script>
    <script>
        "use strict"
        $(document).ready(function () {
            $('form').on('submit', function () {
                login()
            })
        })

        function login() {
            let inputUsername = $('input[id="username"]').val()
            let inputPassword = $('input[id="password"]').val()
            let inputRePassword = $('input[id="re_password"]').val()
            let inputEmail = $('input[id="email"]').val()
            let inputAddress = $('input[id="address"]').val()
            let inputCellphone = $('input[id="cellphone"]').val()

            if (typeof inputUsername === "undefined" || inputUsername == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Tên đăng nhập không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputPassword === "undefined" || inputPassword == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Mật khẩu không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputRePassword === "undefined" || inputRePassword == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Mật khẩu xác nhận không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (inputPassword.length < 8) {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Mật khẩu phải lớn hơn hoặc bằng 8 ký tự",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputEmail === "undefined" || inputEmail == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Email không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (IsEmail(inputEmail) == false) {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Email không hợp lệ",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (inputPassword !== inputRePassword) {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Xác nhận mật khẩu không khớp",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputAddress === "undefined" || inputAddress == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Địa chỉ không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputCellphone === "undefined" || inputCellphone == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Số điện thoại không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Account/Register",
                    data: { "username": inputUsername, "password": inputPassword, "email": inputEmail, "address": inputAddress, "cellphone": inputCellphone },
                    dataType: "json",
                    beforeSend: function () {
                        Swal.fire({
                            text: "Đang đăng ký ...",
                            onOpen: () => {
                                swal.showLoading()
                            }
                        })
                    },
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire({
                                position: "center",
                                type: "success",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                                .then(function () {
                                    window.location.href = "@Url.Action("Login", "Account", new { area = "" })"
                                })
                        }
                        else {
                            Swal.fire({
                                position: "center",
                                type: "error",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText)
                    }
                })
            }
        }
    </script>
</body>
</html>