﻿@{
    Layout = "~/Areas/Customer/Views/Shared/_Layouts.cshtml";
}

@section change_password {active}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thay đổi mật khẩu</h1>
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thay đổi mật khẩu</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control form-control-user" id="old_password" name="old_password" placeholder="Nhập mật khẩu cũ">
                </div>
                <div class="form-group">
                    <label>Mật khẩu mới</label>
                    <input type="password" class="form-control form-control-user" id="new_password" name="new_password" placeholder="Nhập mật khẩu mới">
                </div>
                <div class="form-group">
                    <label>Nhập lại mật khẩu</label>
                    <input type="password" class="form-control form-control-user" id="re_new_password" name="re_new_password" placeholder="Nhập mật khẩu mới">
                </div>
                <button id="change_password" class="btn btn-primary btn-user btn-block">
                    Đổi mật khẩu
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        "use strict"
        $(document).ready(function () {
            $('#change_password').on('click', function () {
                submitChanged()
            })
        })

        function submitChanged() {
            let inputOldPassword = $("input[id=\"old_password\"]").val()
            let inputNewPassword = $("input[id=\"new_password\"]").val()
            let inputReNewPassword = $("input[id=\"re_new_password\"]").val()

            if (typeof inputOldPassword === "undefined" || inputOldPassword == null || inputOldPassword == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Mật khẩu cũ không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputNewPassword === "undefined" || inputNewPassword == null || inputNewPassword == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Mật khẩu mới không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputReNewPassword === "undefined" || inputReNewPassword == null || inputReNewPassword == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Mật khẩu xác nhận không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (inputNewPassword.length < 8) {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Mật khẩu mới không được nhỏ hơn 8 ký tự",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (inputNewPassword !== inputReNewPassword) {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Mật khẩu mới không khớp",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePassword", "Customer", new { area = "Customer" })",
                    data: { "old_password": inputOldPassword, "new_password": inputNewPassword },
                    dataType: "json",
                    beforeSend: function () {
                        Swal.fire({
                            text: "Đang thay đổi ...",
                            onOpen: () => {
                                swal.showLoading()
                            }
                        })
                    },
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire({
                                position: "center",
                                type: "success",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                                .then(function () {
                                    window.location.href = "@Url.Action("Logout", "Account", new { area = "" })"
                                })
                        }
                        else {
                            Swal.fire({
                                position: "center",
                                type: "error",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText)
                    }
                })
                return false
            }
        }
    </script>
}
