﻿@{
    Layout = "~/Areas/Customer/Views/Shared/_Layouts.cshtml";
}

@section order {active}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách phòng đã đặt</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách phòng đã đặt</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" cellspacing="0" role="grid">
                            <thead>
                                <tr role="row">
                                    <th>Tên phòng</th>
                                    <th>Loại phòng</th>
                                    <th>Giá phòng</th>
                                    <th>Ngày nhận</th>
                                    <th>Ngày trả</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        "use strict"
        $(document).ready(function () {
            getOrder()
        })

        function getOrder() {
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("Order", "Customer", new { area = "Customer" })",
                    data: { "flag": true },
                    dataType: "json",
                    beforeSend: function () {
                        Swal.fire({
                            text: "Đang lấy dữ liệu ...",
                            onOpen: () => {
                                swal.showLoading()
                            }
                        })
                    },
                success: function (response) {
                    let data = ""
                    $.each(response.data, function (i, item) {
                        let ReceivedDate = new Date(parseInt(item.ReceivedDate.replace(/\/Date\((-?\d+)\)\//, '$1')));
                        let CheckOutDate = new Date(parseInt(item.CheckOutDate.replace(/\/Date\((-?\d+)\)\//, '$1')));
                        data += "<tr role=\"row\" class=\"odd\">"
                        data += "<td>" + item.RoomName + "</td>"
                        data += "<td>" + item.CategoryRoomName + "</td>"
                        data += "<td>" + item.Amount + "</td>"
                        data += "<td>" + ReceivedDate + "</td>"
                        data += "<td>" + CheckOutDate + "</td>"
                        data += "<td>" + item.Status + "</td>"
                    })

                    $("tbody").append(data)
                    Swal.close()
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText)
                }
            })

            return false
        }
    </script>
}
