﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section approveOrder {active}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách đơn chưa duyệt</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách đơn chưa duyệt</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" cellspacing="0" role="grid">
                            <thead>
                                <tr role="row">
                                    <th>Người đặt</th>
                                    <th>Tên phòng</th>
                                    <th>Loại phòng</th>
                                    <th>Ngày nhận</th>
                                    <th>Ngày trả</th>
                                    <th>Giá</th>
                                    <th>Trạng thái</th>
                                    <th>Duyệt</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        "use strict"
        $(document).ready(function () {
            getOrder()
        })

        function getOrder() {
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("getOrder", "Order", new { area = "Admin" })",
                    data: { "flag": true },
                    dataType: "json",
                    beforeSend: function () {
                        Swal.fire({
                            text: "Đang lấy dữ liệu ...",
                            timer: 10000,
                            onOpen: () => {
                                swal.showLoading()
                            }
                        })
                    },
                success: function (response) {
                        let data = ""
                    $.each(response.data, function (i, item) {
                        let ReceivedDate = new Date(parseInt(item.ReceivedDate.replace(/\/Date\((-?\d+)\)\//, '$1')));
                        let CheckOutDate = new Date(parseInt(item.CheckOutDate.replace(/\/Date\((-?\d+)\)\//, '$1')));
                        data += "<tr role=\"row\" class=\"odd\">"
                        data += "<td>" + item.Email + "</td>"
                        data += "<td>" + item.RoomName + "</td>"
                        data += "<td>" + item.CategoryRoomName + "</td>"
                        data += "<td>" + ReceivedDate + "</td>"
                        data += "<td>" + CheckOutDate + "</td>"
                        data += "<td>" + item.Amount + "</td>"
                        data += "<td>" + item.Status + "</td>"
                        data += "<td>"
                        data += "<button onclick=\"approveOrder('" + item.OrderID + "')\" class=\"btn btn-success btn-circle btn-sm\">"
                        data += "<i class=\"fas fa-check\"></i>"
                        data += "</button>"
                        data += "</td>"
                        data += "</tr>"
                    })

                    $("tbody").append(data)
                    Swal.close()
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText)
                }
            })
            return false
        }

        function approveOrder(id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("approveOrder", "Order", new { area = "Admin" })",
                data: { "id": id },
                dataType: "json",
                beforeSend: function () {
                    Swal.fire({
                        text: "Đang duyệt đơn ...",
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })
                },
                success: function (response) {
                    if (response.status == true) {
                        Swal.fire({
                            position: "center",
                            type: "success",
                            title: response.data,
                            showConfirmButton: false,
                            timer: 1000
                        })
                        .then(function () {
                            window.location.href = "@Url.Action("Order", "Admin", new { area = "Admin" })"
                        })
                    }
                    else {
                        Swal.fire({
                            position: "center",
                            type: "error",
                            title: response.data,
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText)
                }
            })
            return false
        }
    </script>
}