﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section room {active}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách phòng</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách phòng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" cellspacing="0" role="grid">
                            <thead>
                                <tr role="row">
                                    <th>Tên phòng</th>
                                    <th>Loại phòng</th>
                                    <th>Giá phòng</th>
                                    <th>Trạng thái</th>
                                    <th>Cập nhật</th>
                                    <th>Xoá</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-2"></div>
        <a href="@Url.Action("Create", "Room", new { area = "Admin" })" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Thêm phòng mới</span>
        </a>
    </div>
</div>

@section scripts {
    <script>
        "use strict"
        $(document).ready(function () {
            getRoom()
        })
        

        function getRoom() {
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("getRoom", "Room", new { area = "Admin" })",
                    data: { "flag": true },
                    dataType: "json",
                    beforeSend: function () {
                        Swal.fire({
                            text: "Đang lấy dữ liệu ...",
                            timer: 1000,
                            onOpen: () => {
                                swal.showLoading()
                            }
                        })
                    },
                    success: function (response) {
                        let data = ""
                        $.each(response.data, function (i, item) {
                           
                           // debugger;
                            var tien = (item.RoomPrice).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
                            var editRoom = '@Url.Action("Edit", "Room", new { area = "Admin", id = "_id_" })'.replace('_id_', item.RoomID)
                            var detailRoom= '@Url.Action("Detail", "Room", new { area = "Admin", id = "_id_" })'.replace('_id_', item.RoomID)
                            data += "<tr role=\"row\" class=\"odd\">"
                            data += "<td>" + item.RoomName + "</td>"
                            data += "<td>" + item.CategoryRoomName + "</td>"
                            //data += "<xsl:value-of select=\"\'format-number(" + item.RoomPrice + ", \"###,###\")' "
                            //data += "/>"
                            
                            data += "<td>" + tien + " VNĐ</td>"
                            if (item.RoomStatus == false) {
                                data += "<td>Trống</td>"
                            } else {
                                data += "<td>"
                                data += "<a href=\"" + detailRoom + "\" class=\"btn btn-success btn-circle btn-sm\">"
                                data += "XEM</a> Đã Có Người</td>"
                            }
                            data += "<td>"
                            data += "<a href=\"" + editRoom + "\" class=\"btn btn-warning btn-circle btn-sm\">"
                            data += "<i class=\"fas fa-exclamation-triangle\"></i>"
                            data += "</a>"
                            data += "</td>"
                            data += "<td>"
                            data += "<button onclick=\"deleteRoom('" + item.RoomID + "')\" class=\"btn btn-danger btn-circle btn-sm\">"
                            data += "<i class=\"fas fa-trash\"></i>"
                            data += "</button>"
                            data += "</td>"
                            data += "</tr>"
                        })
                        $("tbody").append(data)
                        Swal.close()
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText)
                    }
                })
                return false
        }

        function deleteRoom(id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete", "Room", new { area = "Admin" })",
                data: { "id": id },
                dataType: "json",
                beforeSend: function () {
                    Swal.fire({
                        text: "Đang xoá ...",
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })
                },
                success: function (response) {
                    if (response.status == true) {
                        Swal.fire({
                            position: "center",
                            type: "success",
                            title: response.data,
                            showConfirmButton: false,
                            timer: 1000
                        })
                        .then(function () {
                            window.location.href = "@Url.Action("Room", "Admin", new { area = "Admin" })"
                        })
                    }
                    else {
                        Swal.fire({
                            position: "center",
                            type: "error",
                            title: response.data,
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText)
                }
            })
            return false
        }
    </script>
}