﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập vào bảng quản trị</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/Account/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Account/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/sweetalert2.min.css" />
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form class="login100-form validate-form flex-sb flex-w" onsubmit="return false;" method="post">
                    <span class="login100-form-title p-b-32">
                        Đăng nhập vào bảng quản trị
                    </span>
                    <span class="txt1 p-b-11">
                        Tên đăng nhập
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Vui lòng nhập tên đăng nhập">
                        <input class="input100" type="text" name="username" id="username">
                        <span class="focus-input100"></span>
                    </div>
                    <span class="txt1 p-b-11">
                        Mật khẩu
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Vui lòng nhập mật khẩu">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input class="input100" type="password" name="password" id="password">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Đăng nhập
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    <script src="~/Content/Account/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Account/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/Account/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Account/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Account/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Account/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Account/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/Account/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Content/Account/js/main.js"></script>
    <script src="~/Content/js/sweetalert2.min.js"></script>
    <script>
        "use strict"
        $(document).ready(function () {
            $('form').on('submit', function () {
                login()
            })
        })

        function login() {
            let inputUsername = $('input[id="username"]').val()
            let inputPassword = $('input[id="password"]').val()

            if (typeof inputUsername === 'undefined' && inputUsername == null && inputUsername == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Tên đăng nhập không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputPassword === 'undefined' && inputPassword == null && inputPassword == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Mật khẩu không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Login", "Account", new { area = "Admin" })",
                    data: { "username": inputUsername, "password": inputPassword },
                    dataType: "json",
                    beforeSend: function () {
                        Swal.fire({
                            text: "Đang đăng nhập vào bảng quản trị ...",
                            onOpen: () => {
                                swal.showLoading()
                            }
                        })
                    },
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire({
                                position: "center",
                                type: "success",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                                .then(function () {
                                    window.location.href = "@Url.Action("Index", "Home", new { area = "Admin" })"
                                })
                        }
                        else {
                            Swal.fire({
                                position: "center",
                                type: "error",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText)
                    }
                })
            }
        }
    </script>
</body>
</html>
