﻿
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thông tin Người Đặt Phòng @ViewBag.roomData.RoomName</h1>
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thông tin Người Đặt Phòng @ViewBag.roomData.RoomName</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Email</label>
                    @ViewBag.orderData.Email
                </div>
                <div class="form-group">
                    <label>Ngày nhận phòng:</label>
                    @ViewBag.orderData.ReceivedDate
                </div>
                <div class="form-group">
                    <label>Ngày hết hạn phòng:</label>
                    @ViewBag.orderData.CheckOutDate
                </div>
                <div class="form-group">
                    <label>Giá:</label>
                    @(((decimal)ViewBag.orderData.Amount).ToString("n0")) VNĐ
                </div>
                <div >
                    <a href="@Url.Action("Room", "Admin", new { area = "Admin" })" class="rounded-circle border-0" > Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>

