﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";

    string roomID;

    try
    {
        roomID = Html.ViewContext.RouteData.Values["id"].ToString();
    }
    catch (Exception)
    {
        roomID = "";
    }
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Cập nhật phòng</h1>
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Cập nhật phòng</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Tên phòng</label>
                    <input type="text" class="form-control form-control-user" id="room_name" name="room_name" placeholder="Nhập tên phòng" value="@ViewBag.roomData.RoomName">
                </div>
                <div class="form-group">
                    <label>Loại phòng</label>
                    <select class="form-control" id="category_room" name="category_room" value="@ViewBag.roomData.CategoryRoomID"></select>
                </div>
                <div class="form-group">
                    <label>Giá phòng</label>
                    <input type="number" class="form-control form-control-user" id="price_room" name="price_room" placeholder="Nhập giá thuê phòng" value="@ViewBag.roomData.RoomPrice">
                </div>
                <button id="submit_update" class="btn btn-primary btn-user btn-block">
                    Cập nhật
                </button>
                <div>
                    <a href="@Url.Action("Room", "Admin", new { area = "Admin" })" class="rounded-circle border-0"> Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        "use strict"
        $(document).ready(function () {
            getCategoryRoom()
            $('#submit_update').on('click', function () {
                submitUpdated()
            })
        })

        function getCategoryRoom() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("getCategoryRoom", "Room", new { area = "Admin" })",
                data: { "flag": true},
                dataType: "json",

                success: function (response) {
                    let data = ''
                    $.each(response.data, function (i, item) {
                        data += '<option value="' + item.CategoryRoomID + '">' + item.CategoryRoomName + '</option>'
                    })

                    $('select#category_room').append(data)
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText)
                }
            })

            return false
        }

        function submitUpdated() {
            let inputRoomName = $("input[id=\"room_name\"]").val()
            let inputCategoryRoom = $('select[id="category_room"] option:selected').val()
            let inputPriceRoom = $("input[id=\"price_room\"]").val()

            if (typeof inputRoomName === "undefined" || inputRoomName == null || inputRoomName == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Tên phòng không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputCategoryRoom === "undefined" || inputCategoryRoom == null || inputCategoryRoom == 0) {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Loại phòng chưa được chọn",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputPriceRoom === "undefined" || inputPriceRoom == null || inputPriceRoom == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Giá phòng không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else {
                var roomID = "@roomID";
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Edit", "Room", new { area = "Admin" })",
                    data: { "room_name": inputRoomName, "category_room": inputCategoryRoom, "price_room": inputPriceRoom, "id": roomID },
                    dataType: "json",
                    beforeSend: function () {
                        Swal.fire({
                            text: "Đang cập nhật...",
                            onOpen: () => {
                                swal.showLoading()
                            }
                        })
                    },
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire({
                                position: "center",
                                type: "success",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                            .then(function () {
                                window.location.href = "@Url.Action("Room", "Admin", new { area = "Admin" })"
                            })
                        }
                        else {
                            Swal.fire({
                                position: "center",
                                type: "error",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText)
                    }
                })
                return false
            }
        }
    </script>
}
