﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thêm loại phòng mới</h1>
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nhập thông tin loại phòng</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Tên loại phòng</label>
                    <input type="text" class="form-control form-control-user" id="categoryRoom_name" name="categoryRoom_name" placeholder="Nhập tên loại phòng">
                </div>
                <div class="form-group">
                    <label>Số khách</label>
                    <input type="number" class="form-control form-control-user" id="categoryRoom_numberofguest" name="categoryRoom_numberofguest" placeholder="Nhập số khách">
                </div>
                <button id="submit_create" class="btn btn-primary btn-user btn-block">
                    Tạo
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        "use strict"
        $(document).ready(function () {
            $('#submit_create').on('click', function () {
                submitCreated()
            })
        })

        function submitCreated() {
            let inputCategoryRoomName = $("input[id=\"categoryRoom_name\"]").val()
            let inputNumberOfGuest = $("input[id=\"categoryRoom_numberofguest\"]").val()

            if (typeof inputCategoryRoomName === "undefined" || inputCategoryRoomName == null || inputCategoryRoomName == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Tên loại phòng không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputNumberOfGuest === "undefined" || inputNumberOfGuest == null || inputNumberOfGuest == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Số khách không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create", "CategoryRoom", new { area = "Admin" })",
                    data: { "categoryName": inputCategoryRoomName, "numberOfGuest": inputNumberOfGuest },
                    dataType: "json",
                    beforeSend: function () {
                        Swal.fire({
                            text: "Đang thêm...",
                            onOpen: () => {
                                swal.showLoading()
                            }
                        })
                    },
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire({
                                position: "center",
                                type: "success",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                                .then(function () {
                                    window.location.href = "@Url.Action("CategoryRoom", "Admin", new { area = "Admin" })"
                                })
                        }
                        else {
                            Swal.fire({
                                position: "center",
                                type: "error",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText)
                    }
                })
                return false
            }
        }
    </script>
}
