﻿@{
    Layout = "~/Areas/Customer/Views/Shared/_Layouts.cshtml";
}

@section info_user {active}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thông tin cá nhân</h1>
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thay đổi thông tin</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Nhập tên đăng nhập" disabled value="@ViewBag.dataUser.CustomerName">
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Nhập mật khẩu" disabled value="@ViewBag.dataUser.CustomerPassword">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Nhập Email" value="@ViewBag.dataUser.CustomerEmail" disabled>
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control form-control-user" id="address" name="address" placeholder="Nhập địa chỉ" value="@ViewBag.dataUser.CustomerAddress">
                </div>
                <div class="form-group">
                    <label>Số địa thoại</label>
                    <input type="number" class="form-control form-control-user" id="cellphone" name="cellphone" placeholder="Nhập số điện thoại" value="@ViewBag.dataUser.CustomerCellphone">
                </div>
                <button id="update" class="btn btn-primary btn-user btn-block">
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        "use strict"
        $(document).ready(function () {
            $('#update').on('click', function () {
                submitUpdate()
            })
        })

        function submitUpdate() {
            let inputAddress = $("input[id=\"address\"]").val()
            let inputCellphone = $("input[id=\"cellphone\"]").val()

            if (typeof inputAddress === "undefined" || inputAddress == null || inputAddress == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Địa chỉ không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else if (typeof inputCellphone === "undefined" || inputCellphone == null || inputCellphone == "") {
                Swal.fire({
                    position: "center",
                    type: "error",
                    title: "Số điện thoại không được để trống",
                    showConfirmButton: false,
                    timer: 1000
                })
                return false
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateCustomer", "Customer", new { area = "Customer" })",
                    data: { "address": inputAddress, "cellphone": inputCellphone },
                    dataType: "json",
                    beforeSend: function () {
                        Swal.fire({
                            text: "Đang cập nhật ...",
                            onOpen: () => {
                                swal.showLoading()
                            }
                        })
                    },
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire({
                                position: "center",
                                type: "success",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                                .then(function () {
                                    window.location.href = "@Url.Action("Index", "Home", new { area = "Customer" })"
                                })
                        }
                        else {
                            Swal.fire({
                                position: "center",
                                type: "error",
                                title: response.data,
                                showConfirmButton: false,
                                timer: 1000
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText)
                    }
                })
                return false
            }
        }
    </script>
}